<!DOCTYPE html>
<html>
  <head>
    <title>TopNews</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 
  <body class = "container bg-info text-black text-center">
  
      <%= yield %>
      <br>
     <footer  class ="text-danger font-weight-bold">
     <h4> Deep @ 2021 </h4>
    </footer>
  </body>
</html>
